@import "bootstrap/bootstrap.min.css";

$template: #00ffa2;

.App {
    padding: 0 10px 10px;
    #header {
        width: 100%;
        position: fixed;
        padding: 10px 20px 10px 0;
        background-color: white;
        z-index: 1000;
    }
    #templates {
        padding: 50px 0 10px;
    }
    .picker-block {
        display: block;
        margin: .5rem 0;
        border-bottom: 1px solid #000;
        opacity: 50%;
    }
    button {
        padding: .5rem 1rem;
        &.picker {
            font-size: .85rem;
            text-align: left !important;
            padding: .35rem .5rem;
            span.template {
                background-color: $template;
            }
        }
        &.btn-light:hover {
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }
        &.dropdown-toggle {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .btn {
        border-radius: 0;
    }
    .btn-block {
        margin: .25rem 0;
    }
    .hidden {
        position: absolute;
        left: -9999px;
    }
    .empty {
        display: none;
    }
    .filled {
        background-color: $template;
    }
    .alert {
        margin: 1rem 0;
        text-align: center;
    }
    .washer {
        width: 1rem;
    }
    .comment {
        font-size: .85rem;
        color: green;
        opacity: .75;
        margin: 0;
    }
    #template-box {
        height: 42px;
    }
    #live-var-search {
        position: absolute;
        padding: 0;
        list-style-type: none;
        background-color: #fff;
        border: 1px solid #ced4da;
        max-height: 17.5rem;
        overflow: auto;
        li {
            padding: .25rem .75rem;
            font-size: smaller;
            &:hover, &.selected {
                background-color: #b0fce0;
            }
        }
    }
    .form-control:focus {
        box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
    }
    .btn:focus {
        box-shadow: 0 0 0 0 rgb(225 83 97 / 50%) !important;
    }
}

#about {
    font-size: smaller;
    text-align: center;
    padding: 3px;
    .card-body {
        padding: 0;
    }
    .about-img-top {
        width: 48px;
        height: 48px;
        margin: .5rem;
    }
    h6, .card-footer {
        font-size: smaller;
    }
    .card-text {
        padding: .5rem;
    }
}
