.App {
  text-align: center;
  padding: 10px;
  button {
    padding: .5rem 1rem;
  }
  #count {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(133, 133, 133);
    border: 1px solid rgb(133, 133, 133);
    padding: .5rem 1rem;
    width: 50px;
    margin: .5rem auto 0;
  }
}
