@import 'bootstrap/scss/bootstrap';

$template: #00ffa2;

body {
    padding: 0 .5rem .5rem .5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#title {
    margin: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.App {
    padding: 0 10px 10px 10px;
    #header {
        width: 100%;
        position: fixed;
        padding: 20px 40px 20px 0;
        background-color: white;
        z-index: 1000;
        #search-pattern {
            border-radius: 0;
        }
        #substitute-box {
            height: 42px;
            border-radius: 6px 0 0 6px;
        }
    }
    #templates {
        padding: 70px 0 10px;
    }
    .picker-block {
        display: block;
        margin: 1rem 0;
        border-bottom: 1px solid #000;
        opacity: 50%;
    }
    button {
        padding: .5rem 1rem;
        &.picker {
            font-size: .85rem;
            text-align: left !important;
            padding: .35rem .5rem;
            margin: .25rem 0;
            border-color: #dae0e5;
            border-radius: 6px;
            span.template {
                background-color: $template;
            }
        }
        &.btn-light:hover {
            background-color: #e2e6ea;
            border-color: #dae0e5;
        }
    }
    .btn-reset {
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }
    .btn-block {
        margin: .25rem 0;
    }
    .hidden {
        position: absolute;
        left: -9999px;
    }
    .empty {
        display: none;
    }
    .filled {
        background-color: $template;
    }
    .alert {
        margin: 1rem 0;
        text-align: center;
    }
    .washer {
        width: 1rem;
    }
    .comment {
        font-size: .85rem;
        color: green;
        opacity: .75;
        margin: 0;
        &.baseline {
            vertical-align: bottom;
            position: absolute;
            max-height: 60px;
            padding: 10px 5px;
            overflow: scroll;
        }
    }
    #live-var-search {
        position: absolute;
        padding: 0;
        list-style-type: none;
        background-color: #fff;
        border: 1px solid #ced4da;
        max-height: 17.5rem;
        overflow: auto;
        li {
            padding: .25rem .75rem;
            font-size: smaller;
            &:hover, &.selected {
                background-color: #b0fce0;
            }
        }
    }
    .form-control:focus {
        box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
    }
    .btn:focus {
        box-shadow: 0 0 0 0 rgb(225 83 97 / 50%) !important;
    }
}

#about {
    font-size: smaller;
    text-align: center;
    padding: 9px 3px 3px 3px;
    .card-header {
        img {
            width: 48px;
        }
        .title, .text-muted {
            margin-bottom: 0;
        }
        .title{
            font-size: large;
        }
    }
    .card-body {
        padding: 0;
        font-size: smaller;
        line-height: 1.2;
        p {
            margin: 0.5rem 0;
        }
    }
    h6, .card-footer {
        font-size: smaller;
    }
    .card-text {
        padding: .5rem;
    }
}
